@-webkit-keyframes l {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes l {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes m {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes m {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.e {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background: #fafafc; }
  .e .f {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 100%; }
    .e .f .g {
      color: #12121a;
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 1.31;
      margin-bottom: 12px;
      text-align: center; }
    .e .f .h {
      color: #676680;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 1.6;
      margin-bottom: 30px;
      text-align: center; }
    .e .f .i {
      margin-bottom: 30px; }
    .e .f .j {
      max-width: 600px;
      width: 100%; }
      .e .f .j.k {
        max-width: 360px; }

@-webkit-keyframes ego {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes ego {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes ehj {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ehj {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.egg {
  backface-visibility: hidden;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .15s;
  width: auto; }
  .egg.egh {
    background: #526ede;
    color: #fff; }
    .egg.egh.egi {
      background: rgba(82, 110, 222, 0.2); }
    .egg.egh.egj, .egg.egh:not(.egi):not(.egk):hover {
      background: #627be0; }
      .egg.egh.egj.egl, .egg.egh:not(.egi):not(.egk):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
  .egg.egm {
    background: #526ede;
    color: #fff; }
    .egg.egm.egi {
      background: rgba(46, 50, 70, 0.9); }
    .egg.egm:not(.egi):not(.egk):hover {
      background: #627be0; }
      .egg.egm:not(.egi):not(.egk):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
    .egg.egm.egn {
      -webkit-animation: ego 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: ego 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .egg.egp {
    background: #391995;
    color: #fff; }
    .egg.egp.egi {
      background: rgba(46, 50, 70, 0.9); }
    .egg.egp:not(.egi):not(.egk):hover {
      background: #627be0; }
      .egg.egp:not(.egi):not(.egk):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
    .egg.egp.egn {
      -webkit-animation: ego 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: ego 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .egg.egp {
    background: #391995;
    color: #fff; }
    .egg.egp.egi {
      background: rgba(46, 50, 70, 0.9); }
    .egg.egp:not(.egi):not(.egk):hover {
      background: #627be0; }
      .egg.egp:not(.egi):not(.egk):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
    .egg.egp.egn {
      -webkit-animation: ego 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: ego 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .egg.egq {
    background: transparent;
    color: #2e3246; }
    .egg.egq.egi {
      background: rgba(0, 0, 0, 0); }
    .egg.egq:not(.egi):hover {
      background: #dfe0e6; }
  .egg.egr {
    background: #ff7947;
    color: #fff; }
    .egg.egr.egi {
      background: rgba(255, 121, 71, 0.2); }
    .egg.egr:not(.egi):hover {
      background: rgba(255, 121, 71, 0.9); }
      .egg.egr:not(.egi):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(255, 121, 71, 0.2); }
  .egg.egs {
    background: #ec162c;
    color: #fff; }
    .egg.egs.egi {
      background: rgba(236, 22, 44, 0.2); }
    .egg.egs:not(.egi):hover {
      background: rgba(236, 22, 44, 0.9); }
      .egg.egs:not(.egi):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(236, 22, 44, 0.2); }
  .egg.egt {
    background: #4940ff;
    color: #fff; }
    .egg.egt.egi {
      background: rgba(73, 64, 255, 0.2); }
    .egg.egt:not(.egi):hover {
      background: rgba(73, 64, 255, 0.9); }
      .egg.egt:not(.egi):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(73, 64, 255, 0.2); }
  .egg.egu {
    background: #52b669;
    color: #fff; }
    .egg.egu.egi {
      background: rgba(82, 182, 105, 0.2); }
    .egg.egu:not(.egi):hover {
      background: #63c579; }
  .egg.egv {
    background: #fff;
    color: #2e3246; }
    .egg.egv.egi {
      background: rgba(255, 255, 255, 0.3); }
    .egg.egv:not(.egi):hover {
      background: rgba(255, 255, 255, 0.9); }
  .egg.eh0, .egg.eh1 {
    background: transparent;
    color: #2e3246; }
    .egg.eh0.egi, .egg.eh1.egi {
      background: rgba(0, 0, 0, 0); }
    .egg.eh0:not(.egi):not(.egk):hover, .egg.eh0:not(.egi):not(.egk):focus, .egg.eh1:not(.egi):not(.egk):hover, .egg.eh1:not(.egi):not(.egk):focus {
      background: rgba(46, 50, 70, 0.1); }
  .egg.eh0 {
    z-index: 1; }
  .egg.eh2 {
    background: rgba(223, 224, 230, 0.6);
    color: #2e3246; }
    .egg.eh2:not(.egi):hover {
      background: #dfe0e6; }
      .egg.eh2:not(.egi):hover.egl {
        box-shadow: 0 5px 10px 0 rgba(223, 224, 230, 0.2); }
  .egg.eh3 {
    background: #fff;
    color: #2e3246; }
    .egg.eh3.egi {
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.2);
      opacity: 1; }
    .egg.eh3:not(.egi):hover {
      background: #dfe0e6; }
  .egg.eh4 {
    background: #627be0;
    color: #fff; }
    .egg.eh4.egi {
      background: #dfe0e6;
      color: #fff;
      opacity: 1; }
    .egg.eh4:not(.egi):hover {
      background: rgba(98, 123, 224, 0.9); }
  .egg.eh5 {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 0 5px; }
  .egg.eh6 {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 0; }
  .egg.eh7 {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    height: 28px;
    line-height: 28px;
    padding: 0 12px; }
  .egg.eh8 {
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    padding: 0; }
  .egg.eh9 {
    border-radius: 3px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-weight: 700; }
  .egg.eha {
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    padding: 0 16px; }
  .egg.ehb {
    border-radius: 3px;
    font-size: 13px;
    height: 32px;
    padding: 0; }
  .egg.ehc {
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    justify-content: center;
    padding: 0 18px; }
  .egg.ehd {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
    padding: 0 18px; }
  .egg.egi {
    cursor: default;
    opacity: 0.4; }
  .egg.egk {
    cursor: default;
    pointer-events: none; }
  .egg.ehe {
    text-align: left; }
  .egg.ehf {
    text-align: center; }
  .egg.ehg {
    text-align: right; }
  .egg.ehh {
    width: 100%; }
  .egg.ehi {
    background: #d5d5d5; }
    .egg.ehi.eh0, .egg.ehi.eh1 {
      background: rgba(213, 213, 213, 0.4); }

.ch {
  cursor: pointer;
  position: absolute; }
  .ch.ci {
    height: 20px;
    width: 16px; }
    .ch.ci.cj, .ch.ci.ck, .ch.ci.cl, .ch.ci.cm {
      right: 0;
      top: 0; }
    .ch.ci.cm {
      border-top-right-radius: 2px;
      overflow: hidden; }
      .ch.ci.cm svg {
        position: absolute;
        right: 0;
        top: 0; }
    .ch.ci.cn {
      right: 2px;
      top: 2px; }
      .ch.ci.cn svg {
        opacity: 1; }
    .ch.ci.co {
      right: 7px;
      top: 16px; }
    .ch.ci.cp {
      left: 5px;
      top: 5px; }
    .ch.ci.cq {
      right: 4px;
      top: 0; }
    .ch.ci svg path {
      fill: #ff8537; }
    .ch.ci svg polygon {
      fill: #fff; }
  .ch.cr {
    background-color: rgba(46, 50, 70, 0.6);
    color: #fff;
    font-size: 10px;
    font-weight: 900;
    line-height: 13px;
    margin: 4px;
    padding: 2px 4px;
    right: 0;
    text-transform: uppercase;
    top: 0; }

@-webkit-keyframes c {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes c {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes d {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes d {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.b {
  border: 5px solid;
  border-color: #4285F4;
  border-radius: 50%;
  border-top-color: transparent;
  box-sizing: border-box;
  height: 65px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  z-index: 999; }
  .b {
    animation: appPreloaderRotate 1s infinite, appPreloaderColors 4s infinite;
    animation-timing-function: linear; }

.a {
  margin: 0 20%;
  padding-top: 10%; }
  .a h2 {
    font-weight: 300;
    margin-bottom: 18px;
    text-align: center; }
  .a p {
    text-align: center; }
  .a img {
    display: block;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }


/*# sourceMappingURL=main.fb80d8121cb22ea129b5.css.map*/