.row
  .titulo COMBO MULHER TECH
  #combo-items
    .combo-item palestras
    .combo-item oficinas
    .combo-item alimentação
    .combo-item kit inscrita
    .combo-item espaço kids
    .combo-item networking
    .combo-item contato com empresas