.row
  img(src='img/estrela-branca-1.1.png', alt="")
  #titulo-combo SUA INSCRIÇÃO TE GARANTE
  #combo
    .cards
      .card
      .card
      .card
      .card-primeiro
        //- .titulo-combos PALESTRAS E OFICINAS
        //- .descricao-combo blablabla
        //- .descricao-combo conhecimento
        //- .descricao-combo conversa
        //- .descricao-combo aprendizados
      .card-meio
        //- .titulo-combos MIMOS, ALIMENTAÇÃO E ESPAÇO KIDS
        //- .descricao-combo Queremos ver você feliz 
        //- .descricao-combo e confortavel!!
        //- .descricao-combo Preparamos mimos,
        //- .descricao-combo alimentação para você
        //- .descricao-combo e um espaço para as crianças
        //- .descricao-combo enquanto você curte a programação!
      .card-ultimo
        //- .titulo-combos NETWORKING
        //- .descricao-combo Conheça outras
        //- .descricao-combo mulheres e entre
        //- .descricao-combo em contato
        //- .descricao-combo com empresas
      img(src='img/estrela-branca-1.2.png', alt="")
