.row
  img.estrela-1(src='img/estrela-branca-1.1.png', alt="")
  img.estrela-1(src='img/estrela-branca-1.2.png', alt="")

  p.titulo SUA INSCRIÇÃO TE GARANTE
  .cards
    #cards-mobile
      each grupo in content.combo
        .card-mobile
          .titulo-combo=grupo.titulo
    #cards-desktop
      each grupo in content.combo
        .card-desktop
          img.icone-combo(src="/img/" + grupo.icone)
          .titulo-combo=grupo.titulo
          .descricao-combo=grupo.descricao
