

.row
  .col-2
    img#estrela-1(src="img/estrela-1.png", alt="")
  .col-8
    p.titulo TEMPO PARA O FIM DO PRIMEIRO LOTE
  .col-2
    img#planeta-laranja(src="img/planeta-laranja.png", alt="")

  
  #count-down-parts
    .count-down-part
      .count-down-number-day#count-down-days
      span.tempo dias
    .count-down-part
      .count-down-number#count-down-hours
      span.tempo horas
    .count-down-part
      .count-down-number#count-down-minutes
      span.tempo minutos
    .count-down-part
      .count-down-number#count-down-seconds
      span.tempo segundos