.row
  #count-down-parts
    .count-down-part
      .count-down-number#count-down-days
      span dias
    .count-down-part
      .count-down-number#count-down-hours
      span horas
    .count-down-part
      .count-down-number#count-down-minutes
      span minutos
    .count-down-part
      .count-down-number#count-down-seconds
      span segundos