extends template

block content
  #content
    include menu
    section#inicial
      include inicial
    section#sobre
      include sobre
    section#palestrante
      include palestrante
    section#parceiros
      include parceiros  
  footer#footer
    include footer
  script.
    sizes();