extends template

block content
  #content
    include menu
    section#inicial
      include inicial
    section#sobre
      include sobre
    section#countdown
      include countdown
    section#combo
      include combo
    section#palestrantes
      include palestrantes
    section#parceiros
      include parceiros  
  footer#footer
    include footer
  script.
    sizes();