.row
  .col-12.col-md-3#astronauta
    img.hvr-hang(src='img/astronauta.png', alt="")
  .col-12#logo
    include ring
  .col-12
    span.texto-inicio
      p.texto-encontro
        | ENCONTRO DE MULHERES
        br
        |  DE TI NA PARAÍBA
      p.marco  28 de março
      button.btn.btn-secondary.button(type='button') inscrições em breve  