.row
  .col-12.col-md-3#astronauta
    img.hvr-hang(src='img/astronauta.png', alt="")
  #estrelas
    img.hvr-hang-estrela(src='img/estrela-amarela.png', alt="")
    img.hvr-hang-estrela(src='img/estrela-amarela.png', alt="")
    img.hvr-hang-estrela(src='img/estrela-amarela.png', alt="")
  
  .col-12#logo
    include ring
  .col-12
    span.texto-inicio
      p.texto-encontro
        | ENCONTRO DE MULHERES
        br
        |  DE TI DA PARAÍBA
      p.marco  28 de março 
      a.iesp(target="_blank" href="https://maps.google.com/maps?ll=-7.094733,-34.848741&z=15&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=2679210824161031196") UNIESP
      a.btn.btn-secondary.button(href="") inscrições temporariamente encerradas