.row#menu
  button.btn-menu     
    .btn-menu-text menu
  nav.menu
    a.btn-close
      i.fa.fa-times
    ul
      li
        a(href='#inicial') início
      li
        a(href='#sobre') sobre
      //li
      //  a.menu-em-breve(href='#')="PALESTRANTES"
      //li
      //  a.menu-em-breve(href='#')="PROGRAMAÇÃO"
      //li
      // a.menu-em-breve(href='#')="PARCEIRAS"
      li
        a(href='#footer') contato