.row#menu
  button.btn-menu     
    .btn-menu-text menu
  nav.menu
    a.btn-close
      i.fa.fa-times
    ul
      li
        a(href='#inicial') início
      li
        a(href='#sobre') sobre
      li
        a(href='#palestrantes')="PALESTRANTES"
      li
      //  a.menu-em-breve(href='#')="PROGRAMAÇÃO"
      li
        a(href='#parceiros')="PARCEIROS"
      li
        a(href='#footer') contato