- var formAction = "https://mulhertechsim.us20.list-manage.com/subscribe/post?u=d7e39d6142bb2cd59db7ea548&amp;id=892c95f635"
- var inputDivStyle = "position: absolute; left: -5000px;"
- var inputName = "b_d7e39d6142bb2cd59db7ea548_892c95f635"

form.new(action=formAction method="post" target="_blank" novalidate="true")
  input#email(type='email', name="EMAIL" tabindex="-1", placeholder='Seu email')
  div(style=inputDivStyle aria-hidden='true')
    input(type='text' name=inputName tabindex='-1' value='')
  button.btn.btn-secondary.btn-assinar(type="submit")  Assinar