.row
  .palestrante 
    p PALESTRANTES
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")
    img.palestra(src="img/palestra/circulo-preto.png", alt="")


    
