.row
    p.titulo PALESTRANTES
    div#palestrantes-lista
      each atividade in content.programacao
        - foto = "/img/palestrantes/" + atividade.foto
        p.palestrante
          img.palestrante-foto(src=foto)
          span.palestrante-nome=atividade.palestrante



    
