.row
    p.titulo PALESTRANTES
    div#palestrantes-lista
      each atividade in content.programacao
        p.palestrante
          img.palestrante-foto(src="img/palestrantes/" + atividade.foto, alt="")
          span.palestrante-nome=atividade.palestrante



    
