.row
    p.titulo PALESTRANTES
    div#palestrantes-lista
      - count = 1
        each atividade in content.programacao
          if(atividade.palestrante)
            - foto = "/img/palestrantes/" + atividade.foto
            - palestrante = atividade.palestrante
            - palestrante_titulo = atividade.titulo
            - palestrante_hora = atividade.hora
            - palestrate_descricao = atividade.descricao
            include palestrante
          if(atividade.oficinas)
            each oficina in atividade.oficinas
              - palestrante_titulo = oficina.titulo
              - palestrante_hora = oficina.hora
              - palestrate_descricao = oficina.descricao
              if(oficina.palestrante)
                - foto = "/img/palestrantes/" + oficina.foto
                - palestrante = oficina.palestrante
                include palestrante
              if(oficina.palestrantes)
                each palestrante in oficina.palestrantes
                  - foto = "/img/palestrantes/" + palestrante.foto
                  - palestrante = palestrante.nome
                  include palestrante