.row
    p.palestrante PALESTRANTES
    div.palestra
    a(href="")
      img.fotos(src="img/planeta-azul.png", alt="")
    a(href="")
      img.fotos(src="img/planeta-azul.png", alt="")
    a(href="")
      img.fotos(src="img/planeta-azul.png", alt="")
    a(href="")
      img.fotos(src="img/planeta-azul.png", alt="")
    a(href="")
      img.fotos(src="img/planeta-azul.png", alt="")
