.row
    p.titulo PALESTRANTES
    div#palestrantes-lista
      
        each atividade in content.programacao
          if(atividade.palestrante)
            a(href="")
              - foto = "/img/palestrantes/" + atividade.foto
              p.palestrante
                img.palestrante-foto(src=foto)
                palestrante-nome=atividade.palestrante
          if(atividade.oficinas)
            each oficina in atividade.oficinas
              a(href="")
                - foto = "/img/palestrantes/" + oficina.foto
                p.palestrante
                  img.palestrante-foto(src=foto)
                  span.palestrante-nome=oficina.palestrante
         





    
