.row
  .parceiro
    p PARCEIROS
    img.fotos(src="img/patrocinador/indra.png", alt="")
    img.fotos(src="img/patrocinador/vsoft.png", alt="")
    img.fotos(src="img/patrocinador/conductor.png", alt="")


