.titulo PROGRAMAÇÃO
  .container-fluid
    .container
        - last = content.programacao.length - 1
        each atividade, i in content.programacao
            .row.atividade
                if(i % 2)
                    .col-10.text-right
                         include atividade
                else 
                    .col-2.text-center.bottom
                        .circle=atividade.hora                       

                if(i % 2)
                   .col-2.text-center.full
                        .circle=atividade.hora
                else
                    .col-10.text-left
                         include atividade

            if(i < last)
                if(i % 2)
                    .row.timeline
                        .col-2
                            .corner.right-bottom
                        .col-8
                            hr
                        .col-2
                            .corner.top-left
                else
                    .row.timeline
                        .col-2
                            .corner.top-right
                        .col-8
                            hr
                        .col-2
                           .corner.left-bottom                            
          

                 
                
                    
