.scene
  .scene_saturn
    .scene_saturn__ring
      .layer
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
      .layer
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
      .layer
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
        .layer_part
