.row
  p.titulo O EVENTO
  a(name='sobre')
.row
  #sobre-img.col-12.col-md-7
    div#sobre-foto
      img#forma.sobre-foto(src='img/forma azul.png', alt='MTSS 2019')
      img#grupo.sobre-foto(src='img/mulher-tech-2019-p.png', alt='MTSS 2019')
      img#planeta.sobre-foto(src='img/planeta-azul.png', alt='MTSS 2019')
  .col-12.col-md-5.texto-evento
    p !{content.sobre.texto}
    .row#edicoes_anteriores
      p
        |Edições anteriores
      span
        a.anos(href="/2019" target="_blank") 2019
        span  |
        a.anos(href="/2018" target="_blank")  2018
        span  |  
        a.anos(href="/2017" target="_blank")  2017
        span  |
        a.anos(href="/2016" target="_blank")  2016 
.row#saturno
  .saturno
    img(src='img/saturno.png')