.row
  p.sobre O EVENTO
  a(name='sobre')
.row
  .mulher-tech.col-12.col-md-7
    div#sobre-foto
      img#forma.sobre-foto(src='img/forma azul.png', alt='MTSS 2019')
      img#grupo.sobre-foto(src='img/mulher-tech-2019.png', alt='MTSS 2019')
      img#planeta.sobre-foto(src='img/planeta-azul.png', alt='MTSS 2019')
  .col-12.col-md-5.texto-evento
      p
        | É um evento anual idealizado pelo Women Techmakers João Pessoa com o objetivo de reunir mulheres de TI em discussões sobre igualdade e diversidade, como também em oficinas sobre novas tecnologias.
      p
        | Desde 2016, o evento vem sendo realizado numa parceria entre diversos grupos que têm atividades voltadas ao tema de diversidade de gênero em TI.
.row#edicoes_anteriores
  p.centraliza
    |Edições anteriores
  span.centraliza
    a.anos(href="/2019" target="_blank") 2019 |
    a.anos(href="/2018" target="_blank") 2018 |
    a.anos(href="/2017" target="_blank") 2017 |
    a.anos(href="/2016" target="_blank") 2016 
.row#saturno
  .saturno
    img(src='img/saturno.png')