#combo{
  width: 100%;
  height: auto;
  background-color: #009999;  
  margin-bottom: auto;
}


#titulo-combo{
  width: 100%;
  font-size: 153%;
  line-height: 22px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 900;
  text-align: center; 
  margin-bottom: 5%;
}

.cards{
  align-items: center;
  justify-content: center;
}

.titulo-combos{
  line-height: 40px;
  color: #cc0066;
  font-size: 140%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 60%;
}

@media(max-width: 660px){
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  #combo{
    padding-bottom: 180px;
  }

  .card{
    display: block;
    position: relative;
  }

  .cards > .card{
    position: absolute;
    left: calc(50% - 135px);
    opacity: 0;
    animation: display 12s infinite;
  }

  .card{
    position: absolute;
    width: 285px;
    height: 300px;
    background-color: #ffffff;
    z-index: 1;
  }

  .card:nth-child(1){
    background-image: url("../img/palestras.png");
    background-repeat: no-repeat;
    background-position: 50% 30% ;

  }

  .card:nth-child(2) {
    background-image: url("../img/mimos.png");
    background-repeat: no-repeat;
    background-position: 50% 30% ;
    animation-delay: 4s;
  }
  .card:nth-child(3) {
    animation-delay: 8s;
    background-repeat: no-repeat;
    background-position: 50% 30% ;
    background-image: url("../img/networking.png");
 
  }
  .estrela-1{
    width: 8%;
    left: -500px;
   }

   .estrela-1:nth-child(2){
     position: relative;
     top: 350px;
     left: 83%;
   }
  .card-primeiro, .card-ultimo, .card-meio{
    display: none;
  }
}

@media(min-width: 660px){

  #combo{
    height: auto;
    padding-bottom: 4%;
  }

  .card{
    display: none;
  }
  
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .card-primeiro, .card-ultimo{
    position: relative;
    float: left;
    width: 200px;
    height: 429px;
    background-color: #ffffff;
    z-index: 1;
  }
  
  .card-meio{
    position: relative;
    top: 1%;
    float: left;
    width: 200px;
    height: 469px;
    filter: drop-shadow(0 0 15.5px #000000);
    background-color: #ffffff;
    z-index: 2;
    background-image: url("../img/mimos.png");
    background-repeat: no-repeat;
    background-position: 50% 10% ;
  }
  
  
  .card-primeiro{
    background-image: url("../img/palestras.png");
    background-repeat: no-repeat;
    background-position: 50% 15% ;
  }
  
  .card-ultimo{
    background-image: url("../img/networking.png");
    background-repeat: no-repeat;
    background-position: 60% 15% ;
  }

  .titulo-combos{
    padding-top: 75%;
  }
  
  .descricao-combo{
    padding-top: 3%;
    width: 100%;
    font-size: 100%;
    line-height: 20px;
    color: #cc0066;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  } 
  
  .card-primeiro:hover,
  .card-meio:hover,
  .card-ultimo:hover{
    transform: scale(1.10) translateZ(0);
  }

  .estrela-1:nth-child(1){
    left: 0;
    width: 5%;
   }
   .estrela-1:nth-child(2){
     position: relative;
     top: 560px;
     left: 90%;
     width: 8%;
   }
}

@media(min-width : 900px){

  .estrela-1:nth-child(1){
    left: 0;
    width: 5%;
   }

   .estrela-1:nth-child(2){
     position: relative;
     top: 560px;
     left: 90%;
     width: 8%;
   }

   .titulo-combos{
    padding-top: 75%;
  }

  .card-primeiro, .card-ultimo{
    position: relative;
    float: left;
    width: 285px;
    height: 429px;
    background-color: #ffffff;
    z-index: 1;
  }
  
  .card-meio{
    position: relative;
    top: 1%;
    float: left;
    width: 285px;
    height: 469px;
    filter: drop-shadow(0 0 15.5px #000000);
    background-color: #ffffff;
    z-index: 2;
    background-image: url("../img/mimos.png");
    background-repeat: no-repeat;
    background-position: 50% 15% ;
  }
  
  
  .card-primeiro{
    background-image: url("../img/palestras.png");
    background-repeat: no-repeat;
    background-position: 50% 20% ;
  }
  
  .card-ultimo{
    background-image: url("../img/networking.png");
    background-repeat: no-repeat;
    background-position: 60% 20% ;
  }
}
