@media(max-width: 768px){
  #sobre-foto {
    width: 100%;
  }

  #sobre-img {
    padding-bottom: 20%;
  }

  #grupo {
    width: 90%;
  }

  #forma {
    top: -15%;
    left: -7%;
    width: 75%;
  }

  #planeta {
      right: -5%;
      top: -44px;
      width: 81px;
  }


  #footer-left{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 20px 0;
  } 

  .separa{
    padding-top: 20px;
    border-top: 2px solid #FFF;
  }

  #sobre-foto {
    width: 100%;
    text-align: center;
  }

  
  .sobre::after{
    top: -100px;
    right: -10px;
  }

  .parceiros-logo{
    width: 20%;
    min-width: 100px;
    margin: 5%;
    background-color: #FFF;
    text-align: center;
    align-self: center;
  }


  #estrela-1{
    top: -20px;
    position: relative;
    width: 80%;
  }
  
  #planeta-laranja{
    top: -20px;
    position: relative;
    width: 80%;
    left: 50%;
  }
  #sobre .titulo::after {
    margin-top: 10%;
  }
  
}

@media(min-width: 768px){
  #astronauta {
    display: block
  }

  .btn-menu{display: none;}

  .btn-close{display: none;}
  
  .btn-assinar{
    margin: 3% 0;
  }

  .logo{display: none;}

  .menu{
    display: block !important; 
    background-color: rgba(255,255,255,0.9); 
    text-align: center; 
    padding: 0; 
    font-size:1.4em; 
    position: relative;
  }

  .menu li{ padding: 0; float: left;text-align: center;}

  .menu li a{ font-size: 1em; padding: 15px; text-align: center; }

  .menu li a:hover{border: 1px solid transparent;}

  .realizacao{
    font-size: 180%;
  }
  .img-logo{
    position: absolute; left: 18%; top: 10%; width: 30%;
  }
  
  .img-anel{
    position: absolute; top:-1.5vh; left: 10%; width:44%; margin-bottom: 50%;
  }
  
  .texto-encontro{
    font-size: 150%; padding-top: 0px; margin-top: 20 px;
 }

  .btn{
    margin-bottom: 3%;
  }

  .separa{
    border-left: 2px solid #FFF;
  }
  
  

  #estrela-1{
    top: -50px;
    position: relative;
    width: 40%;
  }
  
  #planeta-laranja{
    top: -55px;
    position: relative;
    width: 40%;
    left: 83%;
  }
}