.circle{
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #cc0066;
    color:#FFF;
    z-index: 2;
}


.atividade.row,
.timeline.row {
    padding: 0;
}

.atividade.row{
    display: flex; 
}

.atividade.row .col-2{
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.atividade.row .col-2::after{
    content: '';
    position: absolute;
    border-left: 3px solid #cc0066;
}

.atividade.row .col-2.bottom::after{
    height: 100%;
    left: 50%;
    top: 0%;
}

.atividade.row .col-2.full::after{
    height: 100%;
    left: calc(50% - 3px);
}

.atividade.row .col-2.top::after{
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div{
    padding: 0;
    height: 40px;
}

.timeline hr{
    border-top: 3px solid #cc0066;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2{
        display: flex;
        overflow: hidden;
}

.timeline .corner{
    border: 3px solid #cc0066;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right{
    left: 50%;
    top: -50%;
}

.timeline .left-bottom{
    left: -50%;
    top: calc(50% - 3px);
}

.timeline  .top-left{
    left: -50%;
    top: -50%;
}

.timeline .right-bottom{
    left: 50%;
    top: calc(50% - 3px);
}

.titulo-timeline{
    font-size: 30px;
    line-height: 24px;
    color: #009999;
    font-family: "Cooper Hewitt";
    font-weight: 707;
}

.texto-descricao{
    font-size: 16px;
    line-height: 24px;
    color: #009999;
    font-family: "Cooper Hewitt";
    font-weight: 300;
    text-align: right;
}