.circle{
    font-size: 14pt;
    line-height: 35pt;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    background-color: #cc0066;
    color: #FFF;
    z-index: 2;
}


.atividade.row,
.timeline.row {
    padding: 0;
}

.atividade.row{
    display: flex; 
}

.atividade .col-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atividade .col-10.text-right {
align-items: flex-end;
    justify-content: flex-start;
}

.atividade .col-10.text-left {
align-items: flex-start;
justify-content: flex-start;
}

.atividade .col-10 .atividade-conteudo.sem-descricao {
    display: flex;
}

.atividade .col-10.text-right .atividade-conteudo.sem-descricao{
    justify-content: flex-end;
}


.titulo-timeline.sem-descricao {
    align-self: center;
    margin-bottom: 0;
}

.atividade.row .col-2{
    display: inline-flex;
    align-self: stretch;    
    align-items: baseline;
    justify-content: center;
}

.atividade.row .col-2::after{
    content: '';
    position: absolute;
    border-left: 3px solid #cc0066;
}

.atividade.row .col-2.bottom::after{
    height: 100%;
    left: 50%;
    top: 0%;
}

.atividade.row .col-2.full::after{
    height: 100%;
    left: calc(50% - 3px);
}

.atividade.row .col-2.top::after{
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div{
    padding: 0;
    height: 40px;
}

.timeline hr{
    border-top: 3px solid #cc0066;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2{
        display: flex;
        overflow: hidden;
}

.timeline .corner{
    border: 3px solid #cc0066;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right{
    left: 50%;
    top: -50%;
}

.timeline .left-bottom{
    left: -50%;
    top: calc(50% - 3px);
}

.timeline  .top-left{
    left: -50%;
    top: -50%;
}

.timeline .right-bottom{
    left: 50%;
    top: calc(50% - 3px);
}

.titulo-timeline{
    font-size: 18pt;
    line-height: 24px;
    color: #009999;
    font-family: "Cooper Hewitt";
    font-weight: bolder;
    font-style: italic;
}

.texto-descricao{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: "Cooper Hewitt";
    font-weight: 300;
}

.oficina {
    border: 3px solid rgba(204, 0, 102);
    padding: 20px;
    margin: 10px 0;
    position: relative;
    border-radius: 10px;
    height: 170px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    background: #fff;
}

/*.oficina::before{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background: rgba(204, 0, 102);
    top: 50%;
    left: calc(-16.6% + -3px);
    z-index: 0;
}*/

.oficina .titulo-timeline,
.oficina .texto-descricao {
    position: relative;
    background: #fff;
    z-index: 3;
}

.oficina .titulo-timeline {
    font-size: 18pt;
}

.oficina .texto-descricao {
    overflow: hidden;
    margin-bottom: 30px;
}

p.oficina-ver-mais {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    cursor: pointer;
}