*{
  margin: 0;
  padding: 0; 
  font-size: 100%; 
  border: none; 
  outline: none; 
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body, main, #content {
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-image:url("../img/ceu-estrelado.png");
  background-size: 32%;
}

#content{
  display: grid;
  width: 100%;
 }

a{
  text-decoration: none; 
  font-weight: bold; 
  font: italic;
}

ul{
  list-style: none;
}

.btn{
  margin-bottom: 10%;
}

img{
  max-width: 100%;
}

p{
  background: #FFF;
}

.row{
    padding: 3%;
    margin-left: 0;
    margin-right: 0;
}

/*Cabeçalho*/
/*Menu*/

#menu {
  display: flex; 
  align-items:center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: -1px;
  left: 0;
  z-index: 999;
}

#menu::after {
  content: "";
  background-image:url("../img/ceu-estrelado.png");
  background-size: 32%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.btn-menu-text{
  color: rgb(0, 153, 153);
  font-weight: 900; 
  font-size: 180%;
  background: transparent;
}

.btn-menu{
  text-align: center;
  color: #009999;
  cursor: pointer;
  background-color: rgba(255,255,255,0.9);
  padding: 0 10px;
}

.menu{
  padding: 3% 4%; 
  text-transform: uppercase; 
  line-height: 1.6;
  display: none; 
  height: 100%; 
  position: fixed; 
  float: right; 
  background-color: rgba(0, 0, 0,0.9);
  top: 0; 
  left: 0; 
  z-index: 24325;
}

.btn-close{
  width: 19px;
  height: 38px;
  display: block;
  font-size: 1.5em; 
  color: #FFF;
  cursor: pointer; 
  margin: 2% 3% 0 0; 
  float: right;
}

.menu ul{ 
  float:left; 
  text-align: center;
  margin-bottom: 0;
 }

.menu li{
  padding: 1.5% 0;
}

.menu li a{
  font-size:2em; 
  color: #009999;  
  padding: 1.5% 3%; 
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  transition: border .5s;
}

.menu  li a:hover{
  border: 1px solid #009999;
}

/* INICIAL */

section#inicial {
  height: 100%;
}

section#inicial .row {
  height: 100%;
  min-height: fit-content;
}

.texto-inicio{
  line-height: 1.6; 
  text-align: center; 
  position: relative; 
  color: rgb(0, 153, 153); 
  float: left;
  width: 100%; 
}

.marco{
  background: #FFF;
  font-size: 150%;
  margin-bottom: 10px;
 }

.iesp{
 background: #FFF;
 color: rgb(204, 0, 102);
 font-size: 124%;
 display: inline-block;
 width: 100%;
 margin-bottom: 15px;
}

.iesp:hover {
  text-decoration: none;
  color: rgb(173, 4, 88);
  transition: all .5s; 
}

.texto-encontro{
  background: #FFF; 
  font-size: 120%; 
  font-family: 'Lato', sans-serif;
  font-weight: bold; 
  margin-top: 20px;
}

/*SOBRE O EVENTO*/

.sobre, .parceiro, .palestrante{
  font-size: 150%; 
  font-weight: bold; 
  background: #FFF; 
  text-align: center; 
  position: relative;
  color: rgb(0, 153, 153); 
  float: left; width: 100%; 
}

.sobre::after {
  content: "";
  background-image: url("../img/cometa.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: -100px;
  right: -10px;

}

.texto-evento{
  position: relative; 
  padding: 10px; 
  width: 100%; 
  text-align: justify; 
  font-size: 18px;
  font-family: 'Roboto', sans-serif; 
  color: rgb(0, 153, 153);
}

#sobre-foto {
  width: 90%;
  position: relative;
}

.sobre-foto {
  position: absolute;
  max-width: 100%;
}

#grupo {
  position: relative;

}

#forma {
  left: -8%;
  top: -20%;
  width: 90%;
}

#planeta {
  right: -5%;
  top: -25px;
}


/*ANOS ANTERIORES*/
#edicoes_anteriores { 
  padding-bottom: 20px;
  background-color: #fff;
  margin-top: 10%;
}

.centraliza{
  font-size: 140%;
  color: rgb(204, 0, 102);
  position: left;
  text-align: center;
  width: 100%;
  line-height: 0.8;
  font-weight: bold;
}

.anos{
  font-size: 95%;
  color: rgb(0, 153, 153);
  font-weight: bold;
  line-height: 1.333;
  margin: .5%;
}

/*Rodape*/
#saturno {
  height: 60px;
  margin-bottom: 40px;
  padding: 0 3%; 
  position: relative;

}

.saturno{
  width: 24%; 
  position: relative; 
  text-align: center; 
  bottom: 0; 
  right: 10px; 
  position: absolute;
  z-index: 343;
}

footer{
  width: 100%; 
  height: auto;
  position: relative;
}

#footer-content {
  background-color: rgb(174, 2, 100); 
  position: relative;  
  z-index: 3;
}

.forma-amarela{
    width: 20%;
    position: absolute;
    right: -50px;
    bottom: -30px;
    z-index: 0
}

#realizacao-logo {
  width: 120px;
  margin: 20px 0;
}

#realizacao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}

#realizacao-texto {
  background: transparent;
  flex: 1;
}

#realizacao-titulo, #realizacao-wtm{
  color: #FFF;
  background: none;
  margin: 0;
  text-align: center;
}

footer .titulo {
  font-size: 150%; 
  font-weight: bold; 
  display: block;
}

#redes {
  margin: 0;
  flex: 1;
  text-align: center;
}

.redes{
    margin: 3% 2%;
    width: 20%;
    max-width: 50px;
    min-width: 30px;
}

.new{
  color:#fff;
}

footer form{
  margin-top: 2%;
  padding: 1%;
}

input#email {
  width: 100%; 
  font-size: 14pt;
  padding: 5px;
}


.btn-assinar{
  color: rgb(204, 0, 102); background: #FFF; margin-top: 7%; float: right;
  font-weight: bold;
  border: none;
}

/* Parceiros*/
section#parceiros, section#palestrante{
  height: 100%;
  min-height: fit-content;
}

.palestra{
  float: left;
  align-content: center; 
  position: relative;
  
}
.fotos{
  width: 30%;
}