*{
  margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300;
  box-sizing: border-box; font-family: 'Lato', sans-serif;
}

.container{
  background-image:url("../img/ceu-estrelado-1.png");
  display: grid;
 }

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 3% 0 0 0;
}
#content, #saturno {
  margin: 0 3%;
  padding: 0 3%;
}
img{
  max-width: 100%;
}

p{
  background: #FFF;
}

.row{
    padding: 3%;
    margin: 3%;
}
  /*Cabeçalho*/
.menu{
  padding: 3% 4%; text-transform: uppercase; line-height: 1.6;
}

.logo{
  color: rgb(0, 153, 153);background: #FFF; text-align: center; float: left;

}

.btn-menu{
  width: 56px; height: 56px; text-align: center; color: #009999; cursor: pointer; background: #FFF; float:left;
}

/*Menu*/
.menu{
  display: none; height: 100%; position: fixed; float: right; background-color: rgba(0, 0, 0,0.9);
  top: 0; left: 0; z-index: 24325;
}

.btn-close{
  font-size: 1.5em; color: #FFF; cursor: pointer; margin: 2% 3% 0 0; float: right;
}

.menu ul{ 
float:left; text-align: center;
 }

.menu li{
  padding: 1.5%;
}

.menu li a{
  font-size:2em; color: #009999;  padding: 1.5% 3%; text-decoration: none;text-align: center;
}

.menu  li a:hover{
  border: 1px solid #009999;
}

.img-astronauta{
  margin-top: 30%; width: 100%;
}

.img-logo{
  position: absolute; left: 18%; top: 10%; width: 30%;
}

.img-anel{
  position: absolute; top: 10%; left: 10%; width:48%; margin-bottom: 30%;
}

.texto-inicio{
  line-height: 1.6; text-align: center; position: relative; color: rgb(0, 153, 153); float: left;
  width: 100%;
}

.marco{
  background: #FFF; font-size: 100%;
 }

.iesp{
  background: #FFF; color: rgb(204, 0, 102); font-size: 100%;
}

.texto-encontro{
  background: #FFF; margin-top: 40%; font-size: 150%; margin-top:10px; font-family: 'Lato', sans-serif;
   font-weight: bold;
}

/*SOBRE O EVENTO*/
.sobre{
  font-size: 150%; font-weight: bold; background: #FFF; text-align: center; position: relative;
  color: rgb(0, 153, 153); float: left; width: 100%; margin-bottom: 30px;
}

.texto-evento{
  position: relative; padding: 7%; width: 100%; text-align: justify; font-size: 18px;
  font-family: 'Roboto', sans-serif; color: rgb(0, 153, 153);
}
/*Rodape*/
.saturno{
  width: 24%; position: relative; text-align: center; left: 90%; z-index: 343;
}

.forma-amarela{
  width: 20%; position: absolute; left: 80%;
}

 footer{
    background-color: rgb(174, 2, 100); width: 100%; height: auto; padding: 3%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }

  .realizacao, .women{
    margin: 0 3%; padding: 1.2%; color: #FFF; background: none; width: 30;
  }

  .realizacao{
    font-size: 180%; float: none;
  }

  .redes, .instagram{
    margin: 2%; width: 10%;
  }

  .instagram{width: 17%;}

.news{
  border-left: 2px solid #FFF;
}

form{
  margin: 3%; padding: 1%;
}
input {
  width: 100%; height: 30px;
}

.btn-assinar{
  color: rgb(204, 0, 102); background: #FFF; margin: 3%; float: right;
  font-weight: bold;
}

/*ANOS ANTERIORES*/
.edições_anteriores {
  padding-top: 20px; 
  font-size: 30px;
  font-family: "Lato";
  color: rgb(204, 0, 102);
  line-height: 0.8;
  font-weight: bold;
}

@media(min-width: 1024px){
    .btn-menu{display: none;}

    .btn-close{display: none;}

    .logo{display: none;}

    .menu{height: 56px; display: block; background-color: rgba(255,255,255,0.9); text-align: center; 
      padding: 0; font-size:1.4em; position: relative;}

    .menu li{ padding: 0; float: left;text-align: center;}

    .menu li a{ font-size: 1em; padding: 15px; text-align: center; }

    .menu li a:hover{border: none;}
}


#logo {
  width: 200px;
  height: 200px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
#astronauta {
  width: 250px;
  height: 250px;
}

#astronauta:after{
  content: "";
  width: 250px;
  height: 250px;
  background-image: url("../img/astronauta.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-top: 75px;
  position: absolute;
}

#centro {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 220px;
  margin-left: -100px;
  height: 50%;
  text-align: center;
}

.em-breve{
  font-family: 'Lato', sans-serif;
  font-size: 30pt;
  display: block;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  background-color: #fff;
  padding: 5pt 20pt;
  color: #f15a24;
  margin: 0;
}

#planeta1 {
  width: 50px;
  height: 50px;
  background-image: url("../img/saturno.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 100px;
  right: 200px;
}